<div class="modal1" #firstModal (click)="closeFirstModal()">

  <div class="bg-black text-white modal-content" (click)="$event.stopPropagation()">


    <div *ngIf="toggledPanel==1"
      style="height:60vh; display:flex; flex-direction:column; position:relative;flex-grow:1">
      <div class="position:relative; height:auto; d-flex justify-content-center mt-3">
        <div class="drag-handle centered"></div>
      </div>
      <div style="flex-grow:auto;">


        <app-user-search></app-user-search>
      </div>
    </div>




    <div *ngIf="toggledPanel==2" class="extendpane bg-danger"
      style="height:50vh;position:relative; position:flex; flex-direction: column;">
      <div class="bg-danger">
        <div class="position:relative; height:auto; d-flex justify-content-center mt-3 mb-10">
          <div class="drag-handle centered"></div>
        </div>

        <div class="position:relative; d-flex mt-10, mx-2" style="padding: 10px, 10px; transform:translateY(+50%)">
          <div class="bigger-image-container bg-dark">
            <img [src]="detailcard.photoUrl" alt="{{ detailcard.name }}" class="bigger-image">
          </div>

        </div>
      </div>
      <div class="bottom bg-dark" style="height:40vh; padding-top:20px">
        <div class="d-flex align-items-center justify-content-between">
          <div style="font-size:20px;padding-left:20px">{{detailcard.name}}</div>
          <div class="">
            <button class="btn btn-primary"
              style="border-radius:10px;padding-right:10px;padding-left:10px;">follow</button>
            <button class="btn btn-success"
              style="border-radius:10px;padding-right:10px;padding-left:10px;margin-left:10px;">tip</button>
            <button class="btn btn-dark"
              style="background-color:transparent; border-color: transparent; padding-top:0; padding-right:15px; margin:0;"
              type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-ellipsis-v"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>

<div class="userpane" style="height:100%;">
  <div style="position:relative; top:0; z-index: 10; background-color: inherit;">
    <!-- Fixed to the top -->
    <h1 style="text-align:center; padding-top:10px; font-size: 24px; margin-bottom: 5px;">Guests</h1>
    <p style="text-align:center; margin-left: 10px; margin-top: 5px;">
      <i class="fas fa-user"></i>
      {{ cardUsers.length }}
    </p>
  </div>
  <div class="d-flex mb-4"> <!-- Added margin-bottom for vertical spacing -->
    <button class="btn btn-outline-white; text-white" [ngClass]="{'btn-danger': userToggle === 'all'}"
      style="border:1px solid white; width: auto; margin-right: 10px" (click)="toggleUsers('all')">All</button>
    <!-- Added margin-right for spacing between buttons -->

    <button class="btn btn-outline-white; text-white" [ngClass]="{'btn-danger': userToggle === 'speakers'}"
      style="border:1px solid white; width: auto; margin-right: 10px"
      (click)="toggleUsers('speakers')">Speakers</button> <!-- Added margin-right for spacing between buttons -->

    <button class="btn btn-outline-white; text-white" [ngClass]="{'btn-danger': userToggle === 'spectators'}"
      style="border:1px solid white; width: auto; margin-right: 10px"
      (click)="toggleUsers('spectators')">Spectators</button>
  </div>
  <div
    style="display:flex; flex-direction:column; position:relative; overflow-y: scroll; padding-left: 20px; height: 80%;">
    <!-- All other sections, kept scrollable -->
    <div *ngIf="hostCount.length > 0 && userToggle =='all'">
      <h2 style="margin-top: 10px; margin-bottom: 10px;">Host</h2> <!-- Existing content -->
      <div class="user-list">
        <ng-container *ngFor="let user of hostCount">
          <div class="user-card">

            <button style="background-color: black; border-color: black;" (click)="details(user)">
              <div class="circular-image-container">
                <img [src]="user.photoUrl" alt="{{ user.name }}" class="circular-image">
              </div>

              <div style="text-align: center; color: white;">{{ user.name }}</div>
              <div style="text-align: center; color: rgba(255, 255, 255, 0.625);">{{ user.role }}</div>
            </button>

          </div>
        </ng-container>
      </div>
    </div>
    <div *ngIf="userToggle !=='spectators'">
      <div class="d-flex align-items-center justify-content-between" style="width:100%;">
        <div class="d-flex align-items-center">
          <h2 style="margin-bottom:0; margin-right:10px">Speakers</h2>
          <p style="margin:0; margin-right:5px; padding:0;">{{speakerCount.length}} / 8</p>
          <i class="fas fa-user"></i>
        </div>

        <div style="margin-right:10px;" *ngIf="speakerCount.length < 8 && userType=='host'">
          <button (click)="togglePanel(1)" class="text-primary">Invite Speakers</button>
        </div>
      </div>


      <div *ngIf="speakerCount.length > 0">
        <div class="user-list">
          <ng-container *ngFor="let user of speakerCount">
            <div class="user-card">

              <button style="background-color: black; border-color: black;" (click)="details(user)">
                <div class="circular-image-container">
                  <img [src]="user.photoUrl" alt="{{ user.name }}" class="circular-image">
                </div>

                <div style="text-align: center; color: white;">{{ user.name }}</div>
                <div style="text-align: center; color: rgba(255, 255, 255, 0.625);">{{ user.role }}</div>
              </button>

            </div>
          </ng-container>
        </div>
      </div>
    </div>
    <div *ngIf="userToggle !=='speakers'">
      <div class="d-flex align-items-center justify-content-between" style="width:100%;">
        <div class="d-flex align-items-center">
          <h2 style="margin-bottom:0; margin-right:10px">Spectators</h2>
          <p style="margin:0; margin-right:5px; padding:0;">{{spectatorCount.length}}</p>
          <i class="fas fa-user"></i>
        </div>

        <div *ngIf="userType == 'host'" style="margin-right:10px;">
          <button (click)="togglePanel(1)" class="text-primary">Invite Spectators</button>
        </div>
      </div>

      <div *ngIf="spectatorCount.length > 0">

        <div class="user-list">
          <ng-container *ngFor="let user of spectatorCount">
            <div class="user-card">

              <button style="background-color: black; border-color: black;" (click)="details(user)">
                <div class="circular-image-container">
                  <img [src]="user.photoUrl" alt="{{ user.name }}" class="circular-image">
                </div>

                <div style="text-align: center; color: white;">{{ user.name }}</div>
                <div style="text-align: center; color: rgba(255, 255, 255, 0.625);">{{ user.role }}</div>
              </button>

            </div>
          </ng-container>
        </div>
      </div>
    </div>


  </div>
</div>

<!--
<div *ngIf="toggledPanel>0" class="slide-panel bg-black" style="max-height:60vh; display:flex; flex-direction: column;" [@slideUpDown]="panelState" (mousedown)="startDrag($event)">
  
  <button class="btn btn-outline-white text-white" style="z-index:999999;position:absolute; top:10px; left:10px;" (click)="togglePanel(0)">
    <i class="fas fa-times"></i>
  </button> 
  <div *ngIf="toggledPanel==1" style="height:60vh; display:flex; flex-direction:column; position:relative;flex-grow:1">
  <div class="position:relative; height:auto; d-flex justify-content-center mt-3"> 
    <div class="drag-handle centered"></div>
  </div >
  <div style="flex-grow:auto;">
 
     
      <app-user-search></app-user-search>
    </div>
   </div>
 
  


  <div *ngIf="toggledPanel==2" class="extendpane bg-danger" style="height:auto;position:relative; position:flex; flex-direction: column;">
    <div class="bg-danger">
    <div class="position:relative; height:auto; d-flex justify-content-center mt-3 mb-10"> 
      <div class="drag-handle centered"></div>
    </div>
  
  <div class="position:relative; d-flex mt-10, mx-2" style="padding: 10px, 10px; transform:translateY(+50%)">
      <div class="bigger-image-container bg-dark">
      <img [src]="detailcard.photoUrl" alt="{{ detailcard.name }}" class="bigger-image"> 
    </div>

  </div>
</div>
<div class="bottom bg-dark" style="height:40vh; padding-top:20px">
    <div class="d-flex align-items-center justify-content-between">
      <div style="font-size:20px;padding-left:20px">{{detailcard.name}}</div>
      <div class="">
    <button class="btn btn-primary"style="border-radius:10px;padding-right:10px;padding-left:10px;">follow</button>
    <button class="btn btn-success" style="border-radius:10px;padding-right:10px;padding-left:10px;margin-left:10px;">tip</button>
    <button class="btn btn-dark" style="background-color:transparent; border-color: transparent; padding-top:0; padding-right:15px; margin:0;" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-ellipsis-v"></i>
    </button>
  </div>
  </div>
</div>
</div>
  </div>
 


-->