<div class="userpane" style="height:100%;">
  <div style="position:sticky; top:0; z-index: 10; background-color: inherit;">
    <!-- Fixed to the top -->
    <h1 style="text-align:center; padding-top:10px; font-size: 24px; margin-bottom: 5px;">Guests</h1> 
    <p style="text-align:center; margin-left: 10px; margin-top: 5px;">
      <i class="fas fa-user"></i>
      {{ users.length }}
    </p>
  </div>
  <div style="display:flex; flex-direction:column; position:relative; overflow-y: scroll; padding-left: 20px; height: 80%;">
    <!-- All other sections, kept scrollable -->
    <div *ngIf="getUsersByRole('host').length > 0">
      <h2 style="margin-top: 10px; margin-bottom: 10px;">Host</h2> <!-- Existing content -->
      <div class="user-list">
        <ng-container *ngFor="let user of getUsersByRole('host')">
          <app-user-card [user]="user" (click)="getDetails(user)"></app-user-card>
        </ng-container>
      </div>
    </div>

  <div *ngIf="getUsersByRole('speaker').length > 0">
    <h2>Speakers</h2>
    <div class="user-list">
      <ng-container *ngFor="let user of getUsersByRole('speaker')">
        <app-user-card [user]="user" (click)="getDetails(user)"></app-user-card>
      </ng-container>
    </div>
  </div>
  
  <div *ngIf="getUsersByRole('spectator').length > 0">
    <h2>Spectators</h2>
    <div class="user-list">
      <ng-container *ngFor="let user of getUsersByRole('spectator')">
        <app-user-card [user]="user" (click)="getDetails(user)"></app-user-card>
      </ng-container>
    </div>
  </div>
  
  <div *ngIf="getUsersByRole('host').length === 0">
    <h2  style="margin-top: 10px; margin-bottom: 10px;">Host</h2>
    <button (click)="togglePanel()"class="text-primary" style="margin-top: 10px; margin-bottom: 10px;">Invite Users</button>
  </div>
  <div *ngIf="getUsersByRole('speaker').length === 0">
    <h2 style="margin-top: 10px; margin-bottom: 10px;">Speakers</h2>
    <button (click)="togglePanel()"class="text-primary"  style="margin-top: 10px; margin-bottom: 10px;">Invite Users</button>
  </div>
  <div *ngIf="getUsersByRole('spectator').length === 0">
    <h2  style="margin-top: 10px; margin-bottom: 10px;">Spectators</h2>
    <button (click)="togglePanel()" class="text-primary" style="margin-top: 10px; margin-bottom: 10px;">Invite Users</button>
  </div>
</div>
</div>

<div class="slide-panel bg-black" style="display:flex; flex-direction: column;" [@slideUpDown]="panelState" (mousedown)="startDrag($event)">
  <button class="btn btn-outline-white text-white" style="z-index:999999;position:absolute; top:10px; left:10px;" (click)="togglePanel()">
    <i class="fas fa-times"></i>
  </button> 
  <div class="d-flex justify-content-center mt-3"> 
    <div class="drag-handle centered"></div>
  </div>
    <div class="content" style="display:flex; flex-direction:column; position:relative;height:70vh">
      <app-user-search></app-user-search>
   </div>
</div>



<!--
<div class="extendpane" 
  [style.visibility]="panelReveal ? 'visible' : 'hidden'"
  [style.pointer-events]="panelReveal ? 'auto' : 'none'">
  <div class="form-group text-center mt-2, mx-2">
    <div class="Moment">M: {{selectedMoment}}</div>
    <div *ngIf="selectedPhoto && selectedName">
      <img [src]="selectedPhoto" alt="{{ selectedName }}" class="bigger-image"> 
      <div class="text-white">{{ selectedName }}</div>
    </div>
  </div>


  <div class="infoarea">
    <div class="upper portion" style="display:flex; flex-direction: column; align-items: space-between;">
    
    <button class="btn btn-dark" style="background-color:transparent; border-color: transparent; padding-top:0; padding-right:0; margin:0;" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-ellipsis-v"></i>
    </button>
  

    <button class="btn btn-primary"style="margin-top:10px; margin-bottom:10px; ">follow</button>
    <button class="btn btn-success" style="margin-top:10px; margin-bottom:10px; ">tip</button>
</div>
  </div>
  </div>

</div>
-->