<div class="userpane" style="height:100%;">
  <div style="position:sticky; top:0; z-index: 10; background-color: inherit;">
    <!-- Fixed to the top -->
    <h1 style="text-align:center; padding-top:10px; font-size: 24px; margin-bottom: 5px;">Guests</h1> 
    <p style="text-align:center; margin-left: 10px; margin-top: 5px;">
      <i class="fas fa-user"></i>
      {{ cardUsers.length }}
    </p>
  </div>
  <div class="d-flex mb-4"> <!-- Added margin-bottom for vertical spacing -->
    <button class="btn btn-outline-white; text-white" [ngClass]="{'btn-danger': userToggle === 'all'}" style="border:1px solid white; width: auto; margin-right: 10px"(click)="toggleUsers('all')">All</button> <!-- Added margin-right for spacing between buttons -->
    
    <button class="btn btn-outline-white; text-white" [ngClass]="{'btn-danger': userToggle === 'speakers'}" style="border:1px solid white; width: auto; margin-right: 10px"(click)="toggleUsers('speakers')">Speakers</button> <!-- Added margin-right for spacing between buttons -->
   
    <button class="btn btn-outline-white; text-white" [ngClass]="{'btn-danger': userToggle === 'spectators'}"style="border:1px solid white; width: auto; margin-right: 10px"(click)="toggleUsers('spectators')">Spectators</button>
</div>
  <div style="display:flex; flex-direction:column; position:relative; overflow-y: scroll; padding-left: 20px; height: 80%;">
    <!-- All other sections, kept scrollable -->
    <div *ngIf="hostCount.length > 0 && userToggle =='all'">
      <h2 style="margin-top: 10px; margin-bottom: 10px;">Host</h2> <!-- Existing content -->
      <div class="user-list">
        <ng-container *ngFor="let user of hostCount">
          <app-user-card [user]="hostCount" (click)="getDetails(user)"></app-user-card>
        </ng-container>
      </div>
    </div>
    <div *ngIf="userToggle !=='spectators'">
    <div class="d-flex align-items-center justify-content-between" style="width:100%;">
      <div class="d-flex align-items-center">
          <h2 style="margin-bottom:0; margin-right:10px">Speakers</h2>
          <p style="margin:0; margin-right:5px; padding:0;">{{speakerCount.length}} / 8</p>
          <i class="fas fa-user"></i>
      </div>
      
      <div style="margin-right:10px;" *ngIf="speakerCount.length < 8">
          <button (click)="togglePanel()" class="text-primary">Invite Speakers</button>
      </div>
  </div>
  
   
  <div *ngIf="speakerCount.length > 0">
    <div class="user-list">
      <ng-container *ngFor="let user of speakerCount">
        <app-user-card [user]="speakerCount" (click)="getDetails(user)"></app-user-card>
      </ng-container>
    </div>
  </div>
</div>
<div *ngIf="userToggle !=='speakers'">
  <div class="d-flex align-items-center justify-content-between" style="width:100%;">
    <div class="d-flex align-items-center">
        <h2 style="margin-bottom:0; margin-right:10px">Spectators</h2>
        <p style="margin:0; margin-right:5px; padding:0;">{{spectatorCount.length}}</p>
        <i class="fas fa-user"></i>
    </div>
    
    <div style="margin-right:10px;">
        <button (click)="togglePanel()" class="text-primary">Invite Spectators</button>
    </div>
</div>
  
  <div *ngIf="spectatorCount.length > 0">
    
    <div class="user-list">
      <ng-container *ngFor="let user of spectatorCount">
        <app-user-card [user]="spectatorCount" (click)="getDetails(user)"></app-user-card>
      </ng-container>
    </div>
  </div>
  </div>
 

</div>
</div>

<div class="slide-panel bg-black" style="display:flex; flex-direction: column;" [@slideUpDown]="panelState" (mousedown)="startDrag($event)">
  <button class="btn btn-outline-white text-white" style="z-index:999999;position:absolute; top:10px; left:10px;" (click)="togglePanel()">
    <i class="fas fa-times"></i>
  </button> 
  <div class="d-flex justify-content-center mt-3"> 
    <div class="drag-handle centered"></div>
  </div>
    <div class="content" style="display:flex; flex-direction:column; position:relative;height:50vh">
      <app-user-search></app-user-search>
   </div>
</div>



<!--
<div class="extendpane" 
  [style.visibility]="panelReveal ? 'visible' : 'hidden'"
  [style.pointer-events]="panelReveal ? 'auto' : 'none'">
  <div class="form-group text-center mt-2, mx-2">
    <div class="Moment">M: {{selectedMoment}}</div>
    <div *ngIf="selectedPhoto && selectedName">
      <img [src]="selectedPhoto" alt="{{ selectedName }}" class="bigger-image"> 
      <div class="text-white">{{ selectedName }}</div>
    </div>
  </div>


  <div class="infoarea">
    <div class="upper portion" style="display:flex; flex-direction: column; align-items: space-between;">
    
    <button class="btn btn-dark" style="background-color:transparent; border-color: transparent; padding-top:0; padding-right:0; margin:0;" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-ellipsis-v"></i>
    </button>
  

    <button class="btn btn-primary"style="margin-top:10px; margin-bottom:10px; ">follow</button>
    <button class="btn btn-success" style="margin-top:10px; margin-bottom:10px; ">tip</button>
</div>
  </div>
  </div>

</div>
-->