.custom-container {
  flex-grow: 1;
  width: 100%;
  height: 100%;
  padding: 1px;
}

.custom-row {
  height: 100%;
}

.custom-form {
  width: 100%;
  height: 100%;
  padding: 1px;
}

.custom-input {
  height: 100%;
  flex: 1;
}

.custom-button {
  height: 100%;
  flex: none;
  padding: 1px;
}

:host {
  display: block;
  height: 100%;
  width: 100%;
}
