

.nav-link.active {
    background-color: #007BFF;
    color: white;
}

.outerbox {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 390px;
    position:absolute;
    overflow-y:hidden;
  }
  
  .nodeArea {
    height: 40%;
    width:100%;
    position:relative;
    top:0px;
  }
  
  .theRest {
    
    flex:auto;
    display: flex;
    flex-direction: column;
    position:relative;
    bottom:0;
  }


  .viewsecond {
    flex:1;
    display:flex;
    flex-direction:column;
    overflow-y: hidden;
   
  }
  
  .submitArea {
    flex-shrink: 0;
    position: relative;
    width: 100%;
    height: auto;
    overflow-y:scroll;
    margin-bottom:10px;
}
.navigationPane{
    position:relative;
    top:0;
    height:auto;
}

.slide-panel {
  border: 1px solid white;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  overflow: hidden;
  opacity: 1;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  z-index: 9999999;
}

.drag-handle {
  height: 5px;
  width: 40px;
  background-color: #cccccc;
  cursor: pointer;
}

.emoji-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  grid-template-rows: repeat(2, 1fr);    /* 2 rows */
}

.emoji-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: white;
}

.emoji-button {
  background: transparent;
  border: none;
  font-size: 24px; /* Adjust size as needed */
}

.text-green {
  color: green;
}

.text-red {
  color: red;
}
