<div style="position:fixed;bottom:50px;left:0px;display:flex;flex-direction: column; z-index:100000;">
  <button class="btn btn-primary" (click)="simulate('spectator')">Simulate User</button>

  <button class="btn btn-primary" (click)="simulate('host')">Simulate Host</button>
</div>
<div [ngClass]="{'slidecontentmobile': deviceType, 'slidecontentdesk': !deviceType, 'hidden': !isSecondModalOpen}"
  class="modal-content1 text-white" #secondModal (mousedown)="startDrag($event)"
  (click)="$event.stopPropagation()" style="background-color:var(--primary-color);opacity:.8; ">

  <div class="d-flex" style="flex-direction:column;">
    <div class="mt-2 mb-2 ml-6" *ngIf="selectedNode">Replying to {{selectedNode.user}}</div>
    <div *ngIf="tagStatus===false"
      style="overflow-x:hidden;position:relative ;align-items:center; justify-content: space-between; display:flex; flex: auto; width:390px; height:auto; ">
      <div style="position:relative; bottom:0; display:flex; justify-content: center; flex:auto;">
        <form (submit)="addTag($event)">
          <div style="position: relative;height:auto; width:100%; bottom:0; flex-grow: 1; border-radius:999px;">
            <input type="text" class="form-control text-white" placeholder='Add Tag' aria-label="value"
              aria-describedby="button-addon2" [(ngModel)]="tagvalue" name="inputValue" autocomplete="off"
              maxlength="13" #inputTag
              style="border-radius:999px;width:350px; background-color:rgb(62, 62, 62); border:none; font-size:14px;">
          </div>
        </form>
        <button *ngIf="value.length > 0" style="position:absolute; right:0;" class="btn btn-black rounded-circle"
          type="submit" id="button-addon2" style="background-color:transparent;">
          <i class="fas fa-arrow-right"></i>
        </button>
      </div>
    </div>
    <div *ngIf="tagStatus===true"
      style="overflow-x:hidden;position:relative;top:0;left:0; flex-direction:column; align-items:center; justify-content: space-between; display:flex; flex: auto; width:390px; height:auto; ">
      <div *ngIf="isRecording"
        style="height:auto;display:flex; align-items:center; flex-direction:column; flex: auto;position:relative; width:100%; overflow-y: hidden; overflow-wrap: break-word; z-index:20000;">
        <video #liveVideo autoplay playsinline *ngIf="isRecordingVideo"
          style="height:auto;position:relative;flex:auto;width:100%;"></video>

      </div>
      <div *ngIf="isRecording"
        style="height:60px;position:relative; margin:0px 10px; display:flex; flex-direction:column; justify-content: center; flex:auto;">
        {{transcript}}</div>
      <div *ngIf="!isRecording" style="height:auto;position:relative; display:flex; justify-content: center; flex:auto;">
        <form (submit)="submitTextResponse($event)">
          <div style="position: relative; width:100%; bottom:0; height:auto; flex-grow: 1; border-radius:999px;">
            <input type="text" class="form-control" placeholder='Post your reply' aria-label="value"
              aria-describedby="button-addon2" [(ngModel)]="value" name="inputValue" autocomplete="off" #inputReply
              [ngStyle]="{'border': reactionType === 'negative' && tagStatus === true ? '1px solid red' : reactionType === 'positive' && tagStatus === true ? '1px solid green' : 'rgb(95, 95, 95)'}"
              style="border-radius:999px;width:350px;height:auto; background-color:rgb(62, 62, 62); color:white; font-size:14px;">
          </div>
        </form>
        <button *ngIf="value.length > 0" style="position:absolute; right:00px;"
          class="btn btn-black bg-transparent rounded-circle" type="submit" id="button-addon2">
          <i class="fas fa-arrow-right"
            [ngStyle]="{'color': reactionType === 'negative' && tagStatus === true ? 'red' : reactionType === 'positive' && tagStatus === true ? 'green' : 'rgb(95, 95, 95)'}"></i>
        </button>
      </div>

    </div>
    <div class="space-between d-flex ml-3">
      <button *ngIf="!isRecording" [disabled]="!tagStatus" class="btn "
        [ngStyle]="{'color': reactionType === 'negative' && tagStatus === true ? 'red' : reactionType === 'positive' && tagStatus === true ? 'green' : 'rgb(95, 95, 95)'}"
        style="border:0;width:38px;height:38px;align-items: center;justify-content: center;display:flex;"
        (click)="startRecording(false)">
        <i class="fa fa-microphone"></i>
      </button>
      <button *ngIf="!isRecording" [disabled]="!tagStatus" class="btn"
        [ngStyle]="{'color': reactionType === 'negative' && tagStatus === true ? 'red' : reactionType === 'positive' && tagStatus === true ? 'green' : 'rgb(95, 95, 95)'}"
        style="border:0; width:38px;height:38px; margin-left:2px;margin-right:2px; align-items: center;justify-content: center;display:flex;"
        (click)="startRecording(true)">
        <i class="fas fa-video"></i>
      </button>
      <div class="d-flex align-items-center justify-content-center " style="width:100%;height:auto">
        <button *ngIf="isRecording && transcript!=''" class="btn btn-outline-white"
          style="color:rgb(255, 255, 255); width:38px;height:38px; margin-right:2px; align-items: center;justify-content: center;display:flex;"
          (click)="stopRecording()">
          <i class="fa fa-stop"></i>
        </button>
      </div>
    </div>
  </div>
</div>
<div [ngClass]="{'slidemobile':deviceType,'slidedesktop':!deviceType}" class="slide-in-modal" #secondModal
  (click)="closeSecondModal()">
</div>

<div class="modal1" [ngClass]="{'modal1mobile':deviceType,'modal1desktop':!deviceType}" #firstModal
  (click)="closeFirstModal()">

  <div [ngClass]="{'modal1mobilecontent':deviceType,'modal1desktopcontent':!deviceType}"
    class="text-white modal-content" #firstModal (mousedown)="startDrag($event)"
    (click)="$event.stopPropagation()" style="background-color:var(--primary-color);">

    <div class="d-flex justify-content-center mt-3" style="background-color:var(--primary-color);">

      <button class="btn btn-outline-white text-white" style="position:absolute; top:10px; left:10px; z-index: 500;"
        (click)="togglePanel(-1)">
        <i class="fas fa-times"></i>
      </button>

      <div *ngIf="deviceType" class="drag-handle centered"></div>
    </div>


    <div *ngIf="selectedButton===3" class=" text-white" style="background-color:var(--primary-color);height:60vh;">
      <app-user-summary-mob (closeClicked)="closeSecondModal()" [userType]="this.userType"
        [card]="this.card.id"></app-user-summary-mob>

    </div>
    <div *ngIf="selectedButton===6" class=" text-white" style="background-color:var(--primary-color);overflow-y:scroll;flex:auto; height:50vh;">
      <app-about-nodes></app-about-nodes>
    </div>
    <div *ngIf="selectedButton===7" class="text-white" style="background-color:var(--primary-color);overflow-y:scroll;flex:auto; height:50vh;">
      <app-report-form [getLink]="this.getLink" (formSubmitted)="togglePanel(-1)"></app-report-form>
    </div>
    <div *ngIf="selectedButton===8" class=" text-white" style="background-color:var(--primary-color);overflow-y:scroll;flex:auto; height:50vh;">

    </div>

  </div>
</div>


<div class=" d-flex justify-content-center" style="width:100%;height:100%;">

  <div class="topic selection" style="background-color:var(--primary-color);position:relative; width:100%; height:100%; display: flex;
    flex-direction: column;
    overflow-y:hidden;">


    <div class=" nodeArea" style="background-color:var(--tertiary-color)">
      <app-node-space-mob #nodeSpace [isRanked]="isRanked" [cardId]="card.id"></app-node-space-mob>
    </div>

    <div *ngIf="!isSecondModalOpen" class="theRest" [@expandShrinkrest]="theRestState" style="opacity:.8;">

      <div class="viewsecond">
        <div class="d-flex  justify-content-between" style="padding:0; margin:0;background-color:var(--primary-color);height:auto;">
          <div class="ml-3 d-flex align-items-center">
            <button class="btn btn-white"
              [ngClass]="{'btn btn-light': panelType === 'chat', 'text-black': panelType === 'chat'}"
              style="border-radius:10px;display:flex; flex-direction:column; align-items:center;justify-content:center; border:1px solid rgb(255, 255, 255, .5);  margin:0; padding:4px 10px;margin-right:5px; font-size:15px;"
              (click)="toggleLowerDisplay('chat')">
              <div *ngIf="!toggleChat"
                style="display:flex; flex-direction:column; align-items:center;justify-content:center; ">
                <i *ngIf="!toggleChat" class="fas fa-caret-up"></i>Chat
              </div>
              <div *ngIf="toggleChat"
                style="display:flex; flex-direction:column; align-items:center;justify-content:center; ">
                Chat
                <i *ngIf="toggleChat" class="fas fa-caret-down"></i>
              </div>


            </button>

            <button class="btn btn-white text-white padding-right-3"
              style="border-radius:10px; margin:0;padding:4px;margin-right:5px; font-size:15px;"
              (click)="toggleLowerDisplay('nodes')">
              <div *ngIf="forumToggle"
                style="display:flex; flex-direction:column; align-items:center;justify-content:center; "><i
                  class="fas fa-project-diagram"></i>Nodes
              </div>
              <div *ngIf="!forumToggle"
                style="display:flex; flex-direction:column; align-items:center;justify-content:center; "><i
                  class="fas fa-file-alt"></i>Forum</div>
            </button>
            <button class="btn btn-outline-white text-white" (click)="togglePanel(3)">
              <i class="fas fa-users" style="font-size:15px;"></i>
              {{card.user.length}}
            </button>
          </div>


          <div *ngIf=" !isSecondModalOpen && isRanked" style="display:flex;  z-index:1;">

            <button (click)="togglePanelReaction('negative')" class="btn btn-black mr-2"
              style="opacity:.8;border-radius:50%; padding:0;">
              <span class="fa-stack">
                <i class="fas fa-comment fa-stack-2x" style="color: rgb(180, 62, 62); transform: scaleX(-1);"></i>
                <i class="fas fa-minus fa-stack-1x" style="color: rgb(255, 255, 255);"></i>
              </span>
            </button>

            <button (click)="togglePanelReaction('positive')" class="btn btn-black mr-2"
              style="opacity:.8;border-radius:50%;padding:0;">
              <span class="fa-stack">
                <i class="fas fa-comment fa-stack-2x" style="color: rgb(82, 177, 82);"></i>
                <i class="fas fa-plus fa-stack-1x" style="color: white;"></i>
              </span>
            </button>



            <button mat-icon-button [matMenuTriggerFor]="menu"
              class="btn btn-outline-white text-center mt-0 p-0">
              <i class="fas fa-ellipsis-v text-white" style="font-size:15px;"></i>
            </button>
          </div>



        </div>
        <div style="position:relative; flex:auto; display: flex; overflow-y:hidden; flex-direction: column;">
          <div *ngIf="panelType=='chat'" class="chat-output-area text-white" style="position: relative; display:flex; flex: auto; flex-direction: column;  overflow:auto;
          overflow-wrap: break-word; /* Modern browsers */">
            <div #chatView class="chat-read-area m-0 p-0"
              style="flex: auto;position:relative; top:0; width:100%; overflow-y: auto; overflow-wrap: break-word;">
              <app-chat-space-mob></app-chat-space-mob>
            </div>
            <div class="submitArea">
              <app-chat-submit-mob (submitit)="scrollToBottom()"></app-chat-submit-mob>
            </div>
          </div>

          <mat-menu #menu="matMenu" xPosition="before">
            <button mat-menu-item (click)="togglePanel(6)">About</button>
            <button mat-menu-item (click)="copyLinkToClipboard()">Share Node</button>
            <button mat-menu-item (click)="togglePanel(7)">Report this space</button>
          </mat-menu>
        </div>
      </div>

    </div>



  </div>
</div>