.nodeArea {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  z-index: 1;
}



.theRest {
  height: 70%;
  flex: auto;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  overflow-x: hidden;
  z-index: 2;
  width: 100%;
}

.viewsecond {
  flex: 1;
  height: auto;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;

}

.submitArea {
  flex-shrink: 0;
  position: relative;
  width: 100%;
  height: auto;
  overflow-y: scroll;

}

.drag-handle {
  height: 5px;
  width: 40px;
  background-color: #cccccc;
  cursor: pointer;
}

/* General Modal Styling */
.modal1 {
  background-color: rgba(0, 0, 0, 0.5);
  transition: transform 0.2s ease-in;
  z-index: 1500;
}

.modal1mobile {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: end;
  z-index: 1500;
  transform: translateY(100%);
}

.modal1desktop {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  z-index: 1500;
  transform: translateX(100%);
}

.modal-content {
  border: 1px solid white;
  justify-content: center;
}

.modal1mobilecontent {
  position: relative;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  bottom: 0;
  left: 0;
  width: 390px;
  height: auto;
  padding-bottom: 20px;
}

.modal1desktopcontent {

  position: absolute;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  right: 0;
  top: 0;
  width: 400px;
  height: 100%;
}

/* Slide-In Modal Styling */
.slide-in-modal {
  background-color: transparent;
  z-index: 2;
}

.slidemobile {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: end;
  z-index: 2;
  transform: translateY(100%);

}

.slidedesktop {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: end;
  z-index: 2;
  transform: translateY(100%);
}


.modal1.open1 {
  transform: translateY(0);
}

.slide-in-modal.open {
  transform: translateY(0);
}


.modal-content1 {
  position: absolute;
 
  padding-bottom:10px;
  opacity: 1;
  bottom: 0;
  right: 0;
  width: 389px;
  height: auto;
  overflow: hidden;
  z-index: 1600;

}

.model-content1.open {
  opacity: 1;
  visibility: visible;
}

input.form-control::placeholder {
  color: white;
}

input.form-control:focus {
  outline: none;
  box-shadow: none; /* This is for Bootstrap, which applies a shadow on focus */
}
