<form [formGroup]="form" (ngSubmit)="submit()" class="form-container bg-dark p-4 rounded">

    <h2 class="text-center text-white mb-4">Create a new space!</h2>
    <div class="d-flex justify-content-between align-items-center mb-2">
    <div class="form-group">
        <label for="topic" class="text-white">Topic</label>
        <input #topicInput formControlName="topic" type="text" class="form-control" id="topic" placeholder="Enter the topic">
        
    </div>
    <div class="form-group mb-0 mr-2" style="width: auto;">
        <label for="Max Speakers" class="text-white">Max Speakers</label>
        <select formControlName="number" class="form-control mx-4" id="Max Speakers" style="width: auto;">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </div>
</div>
    <div class="form-group">
        <label for="description" class="text-white">Description</label>
        <textarea class="form-control" formControlName="description" id="description" placeholder="Describe the space" rows="3" style="resize: none;"></textarea>
    </div>
  
    <!-- Fee, Number of Speakers, and Submit Button on the same row using flex -->
    <div class="d-flex justify-content-between align-items-center mb-2 mt-2">
        <div class="form-group mb-0 mr-2">
            <label for="entranceFee" class="text-white">Entrance Fee (Optional)</label>
            <input formControlName="entranceFee" type="number" class="form-control" id="entranceFee" placeholder="Fee" style="max-width: 100px;">
        </div>
        
        
        
        <!-- Submit button on the right -->
        <button type="submit" [disabled]="form.invalid" class="btn btn-primary btn-lg mt-3">Create Space</button>
    </div>
    
  </form>
  