    <form [formGroup]="form" (ngSubmit)="submit()" class="form-container bg-dark p-4 rounded">
        <h2 class="text-center text-white mb-4">Create a new space!</h2>

        <!-- Topic Input -->
        <div class="d-flex" style="justify-content: space-between;">
        <div class="form-group">
            <label for="topic" class="text-white">Topic</label>
            <input #topicInput formControlName="topic" type="text" class="form-control" id="topic" placeholder="Enter the topic">
        </div>
        <div class="form-group mb-0 mr-2" style="width: auto;">
            <label for="Max Speakers" class="text-white">Max Speakers</label>
            <select formControlName="number" class="form-control mx-4" id="Max Speakers" style="width: auto;">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
    </div>
        <!-- Description -->
        <div class="form-group">
            <label for="description" class="text-white">Description</label>
            <textarea class="form-control" formControlName="description" id="description" placeholder="Describe the space" rows="3" style="resize: none;"></textarea>
        </div>

        <!-- Conversation Type Toggle -->
        <div class="d-flex align-items-center mb-2 mt-2 text-white" style="justify-content: space-between;">
            <div class="d-flex align-items-center">
            <span style="margin-right:5px;">Casual</span>
            <div class="custom-toggle" (click)="printToggleValue()">
                <input type="checkbox" id="customToggle" class="custom-toggle-checkbox" formControlName="isToggled" (change)="onToggleChange()">

                <label for="customToggle" class="custom-toggle-label"></label>
            </div>
            <span style="margin-left:5px;">Ranked</span>
        </div>
        <div class="d-flex align-items-center">
            <span style="margin-right:5px;">Match me</span>
            <div class="custom-toggle1" (click)="printToggleValue()">
                <input type="checkbox" id="customToggle1" class="custom-toggle-checkbox1" formControlName="isToggled1" (change)="inviteToggle()">

                <label for="customToggle1" class="custom-toggle-label1"></label>
            </div>
            <span style="margin-left:5px;">Invite</span>
            
        </div>
              
            
    
        </div>
        




        <!-- Max Speakers -->
        

        <!-- Submit button -->
        <button type="submit" [disabled]="form.invalid" class="btn btn-primary btn-lg mt-3">Create Space</button>
    </form>
