
<div class="container">
<div #visNetwork id="mynetwork"  class="nodes" style="height:100%; width:100%"> </div>
<button id="floating-button" class="floating-button">Record</button>
<div class="buttons">
    <button mat-fab class="thumb-up" (click)="thumbup()" color="primary" >
      <mat-icon>thumb_up</mat-icon>
    </button>
    
    <!-- Red thumbs-down circular button -->
    <button mat-fab class="thumb-down" color="primary">
      <mat-icon>thumb_down</mat-icon>
    </button>
    
    <!-- Magenta record circular button -->
    <button mat-fab class="record" id="record" (click)="toggleRecording()">
        <mat-icon *ngIf="!isRecording">fiber_manual_record</mat-icon>
        <mat-icon *ngIf="isRecording">stop</mat-icon>
      </button>

      <button mat-fab class="play" color="primary" (click)="play()">
        <mat-icon>play_arrow</mat-icon>
      </button>
    </div>
</div>