
<div class="banner bg-dark">
  <div class="icon-and-title">
    <a href="your_target_url_here" class="icon-title-link">
      <span class="custom-icon"></span>
      <span class="title">Debate Spaces</span>
    </a>
  </div>
  <input type="text" placeholder="Search" class="search-bar"/>
</div>


  <div class="outerbox bg-dark">
    <div class="channels">Recommended Channels</div>
    <div class="box1">
      <div class="node-area text-white">
       <app-node-space #nodeSpace></app-node-space>
      </div>
      <div class="output-area bg-dark text-white">
        <app-gpt-summary style=></app-gpt-summary>
      </div>
    </div>
    <div class="box2">
      <div class="chat-box bg-dark text-white">
        <app-chat-space [displayText]="text"></app-chat-space>
      </div>
      <div class="chat-area bg-dark text-white">
        <app-chat-submit (submitit)="updateText($event)"></app-chat-submit>
      </div>
    </div>
  </div>
