
.chat-submit {
    height:100%;
    width: 100%;

}

.outerbox {
    display: flex;
    height: 100%;
}

.box1 {
    display: flex;
    flex-direction: column;
    width: 70%;
    border: 1px solid;
}

.box2 {
    display: flex;
    flex-direction: column;
    width: 30%;
    border: 1px solid;
    
}

.node-area {
    position: relative;
    height: 70%;
    border: 1px solid white;
    
}



.output-area {
    height: 30%;
    border: 1px solid white;
}

.chat-box {
    height: 90%;
    border: 1px solid white;
    overflow-y: auto;
}

.chat-area {
    overflow: hidden;
    height:10%;
    border: 1px solid white;
    display: flex;
    
}
