<div class="container-fluid p-0" style="width:100%;">
  <div class="row bg-primary align-items-center" style="height: 50px;">
    <div class="col-md-4 text-left text-md-left">
      <button type="button" class="btn btn-primary btn-md text-white" style="font-size:24px;" [routerLink]="['/']">Sequitur</button>
      <a [routerLink]="['/']" class="btn btn-primary btn-lg">Debate</a>
    </div>
    <div class="col-md-4 text-center">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search" />
        <div class="input-group-text">
          <i class="bi bi-search"></i>
        </div>
      </div>
    </div>
    <div class="col-md-4 d-flex justify-content-end">
      <img src="assets/Steve1.jpeg" alt="Image" style="max-height: 50px; border-radius: 50%; border: 2px solid brown;" />
    </div>
  </div>
</div>


<router-outlet style="width:100%; height:100%;"></router-outlet>


