.banner-top {
    height: 8%;
    position: absolute; /* Use 'absolute' if you only want it on top within its parent container. */
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Ensure it stays on top of other elements */
  }
  

.routercontainer {
    position: absolute;
    height: 92%;
    top: 8%;
    left: 0;
    width: 100%;
}