.container {
    border: 2px solid black;
    padding: 5px;
    height: 95vh;
    width: 95vw;
    margin: auto;
}

.outerbox {
    display: flex;
    height: 100%;
}

.box1 {
    display: flex;
    flex-direction: column;
    width: 70%;
    border: 2px solid rgb(194, 41, 138);
    
}

.box2 {
    display: flex;
    flex-direction: column;
    width: 30%;
    border: 2px solid rgb(194, 41, 138);
    
}

.node-area {
    height: 70%;
    border: 5px solid rgb(0, 0, 0);
}

.record-buttons {
    position: absolute;  /* Absolute positioning relative to node-area */
    right: 35%;         /* Position 10px from the right edge */
    top: 20px;        /* Position 10px from the bottom edge */
    display: flex;
    gap: 10px;           /* Gap between the buttons */
    z-index: 10000;
}

.record-btn,
.stop-btn {
    padding: 5px 15px;   /* Button padding */
    border: none;        /* Remove default borders */
    cursor: pointer;     /* Mouse cursor on hover */
}

.record-btn {
    background-color: #FF5733; /* Sample color, you can change */
    color: white;
}

.stop-btn {
    background-color: #333;    /* Sample color, you can change */
    color: white;
}
.output-area {
    height: 30%;
    border: 5px solid black;
}

.chat-box {
    height: 90%;
    border: 5px solid black;
}

.chat-area {
    height:10%;
    border: 5px solid black;
    
}
