
<div class="userpane">
    <h1 style="padding-top:10px; padding-left:10px;">Speakers:</h1>
    <div style="display:flex">
    <div *ngFor="let user of users" style="display:flex; flex-direction: column; width:70px; align-items: center;">
    <button (click)="getdetails(user)" style="background-color: transparent; border-color:transparent;">
      <img [src]="user.photoUrl" alt="{{ user.name }}" class="circular-image"> <!-- Adjust width as needed -->
      <div style="text-align: center; color: white;">{{ user.name }}</div>
      <div style="text-align: center; color: rgba(255, 255, 255, 0.625);">{{ user.role }}</div>
    </button>
    </div>
  </div>
</div>

<div class="extendpane" 
  [style.visibility]="panelReveal ? 'visible' : 'hidden'"
  [style.pointer-events]="panelReveal ? 'auto' : 'none'">>
  <div class="profilearea">
    <div class="Moment" style="position:absolute; top:0; right:0;">M: {{selectedMoment}}</div>
    <div *ngIf="selectedPhoto && selectedName">
      <img [src]="selectedPhoto" alt="{{ selectedName }}" class="bigger-image"> <!-- Adjust width as needed -->
      <div class="text-white" style="text-align: center; margin-top:10px;">{{ selectedName }}</div>
    </div>
  </div>
  
  <div class="infoarea">
    <div class="upper portion" style="display:flex; position:absolute; top:0; right:0; align-items: space-between;">
    
    <button class="btn btn-dark" style="background-color:transparent; border-color: transparent; padding-top:0; padding-right:0; margin:0;" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-ellipsis-v"></i>
    </button>
    </div>
    <button class="btn btn-primary"style="margin-top:10px; margin-bottom:10px; width:80%;">follow</button>
    <button class="btn btn-success" style="margin-top:10px; margin-bottom:10px; width:80%;">tip</button>
   
  </div>
</div>
