<div class="d-flex justify-content-between mx-3">
   <p style="padding-left:10px; padding-top:10px;">Chat Summary</p>
   <div class="d-flex">
        <div *ngIf="nextNode">
    <button class="btn btn-outline-success rounded-circle" style="border:1px solid white; margin-left:2px; margin-right:2px;"  type="submit"  (click)="previousId()">
        <i class="fas fa-chevron-left" style="transform: rotate(180);"></i>
    </button>
    <button class="btn btn-outline-success rounded-circle" style="border:1px solid white; margin-left:2px; margin-right:2px;"  type="submit" (click)="nextId()">
        <i class="fas fa-chevron-right" style="transform: rotate(180);"></i>
    </button>
</div>
    <button *ngIf="traveled" class="btn btn-outline-success rounded-circle" style="border:1px solid white;margin-left:2px; margin-right:2px;"  type="submit" (click)="goBack()">
        <i class="fas fa-undo" style="transform: rotate(180);"></i>
    </button>
</div>
</div>
<div *ngIf="lines" class="mt-3">
<div *ngFor="let line of lines" style="padding-left:10px;">
    <button class="btn btn-outline-success rounded-circle" style="border:1px solid white;"  type="submit" id="button-addon2" (click)="logNodeId(line.id)">
        <i class="fas fa-arrow-left" style="transform: rotate(180);"></i>
    </button> <!-- This is a rightward arrow, replace with your desired symbol or button style -->
    {{ line.text }}
  </div>
</div>

