.summary div {
    display: flex;
    align-items: center;
}

#button-addon2 {
    margin-right: 10px;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.5em;
    transform: rotate(180deg); /* makes the arrow point sideways (leftwards) */
}


/* Additional styles to hide button focus and make it look better */
button:focus {
    outline: none;
}

button:hover {
    color: #007BFF; /* Change color on hover */
}

.summary-container:hover {
    background-color: rgb(175, 175, 175);
    color:black;

}

.sumButton:hover {
    color:inherit
}

.fas fa-angle-down{
    color:white;
}