.carousel-container {
    padding: 20px;  /* Horizontal padding for all content */
}

.card-text {
    margin: 0;
    padding: 10px 0;  /* Top and bottom padding for the description */
    text-align: center;  /* Centering the description text */
}

.viewers-count {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 12px;
}

.users-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  /* Centering users horizontally */
    align-items: center;  /* Centering users vertically */
    margin-top: 10px;  /* Spacing between the description and users */
}

.user-container {
    flex: 0 0 calc(25% - 10px);  /* Four items per row with 10px gap */
    display: flex;
    flex-direction: column;
    align-items: center;  /* Centering the content vertically */
    margin: 5px;  /* Spacing around each user */
}

.circular-image-container {
    width: 50px;  /* Adjust as needed */
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 5px;  /* Space between the image and the name */
}

.circular-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.topics-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  /* Centering topics horizontally */
    margin-top: 20px;  /* Spacing between users and topics */
}

.topic-item {
    padding: 3px 10px;
    background-color: black;
    border: 1px solid white;
    border-radius: 10px;
    margin: 0 5px 5px 0;  /* Spacing around each topic */
    font-size: 12px;
}

.buttons {
    display: flex;
    justify-content: flex-end;  /* Aligning buttons to the right */
    margin-top: 20px;  /* Spacing between topics and buttons */
}
