<div class="carousel-container bg-black justify-content-center" style="border:1px solid white;">
    
    <ngb-carousel class="bg-black text-white" [interval]="0" [showNavigationIndicators]="false">
        <ng-template ngbSlide *ngFor="let match of matchList">
            <h2 class="text-center text-white">Match Found!</h2>
            <div class="custom-card shadow-lg bg-black text-white">

                <!-- Description -->
                <p class="card-text">{{match.description}}</p>

                <!-- Viewers Count -->
                <div class="viewers-count">
                    <i class="fas fa-user"></i> {{match.user.length}}
                </div>

                <!-- Users Row -->
                <div class="users-row">
                    <div *ngFor="let user of match.user" class="user-container">
                    <div *ngIf="user.role=='host' || user.role=='speaker'">
                        <div class="circular-image-container">
                            <img [src]="user.photoUrl" alt="{{ user.name }}" class="circular-image">
                        </div>
                        <div class="text-center">{{user.name}} <br> {{user.role}}</div>
                    </div>
                    </div>
                </div>

                <!-- Topics -->
                <div class="topics-container">
                    <div *ngFor="let topic of match.topic" class="topic-item">
                        {{topic}}
                    </div>
                </div>

                <!-- Buttons -->
                <div class="buttons">
                    <button class="btn btn-danger text-white" (click)="join(match)">Join</button>
                    <button class="btn btn-outline-black text-white" (click)="end()">Cancel</button>
                </div>
            </div>
        </ng-template>
    </ngb-carousel>
</div>
