<div class="outerbox bg-dark">
  <div class="channels text-white">
    <h1>Recommended Channels</h1>
    <div class="btn-group-vertical w-100">
        <button *ngFor="let card of cards" type="button" [routerLink]="['/debate', card.id]" class="btn btn-primary w-100 mb-2">
            {{card.topic}}
        </button>
    </div>
</div>



  
    <div class="box1">
      <div class="node-area text-white">
       <app-node-space #nodeSpace [inputdata]="card.description"></app-node-space>
      </div>
      <div class="output-area bg-dark text-white">
        <app-gpt-summary style=></app-gpt-summary>
      </div>
    </div>
    <div class="box2">
      <div class="chat-box bg-dark text-white">
        <app-chat-space [displayText]="text"></app-chat-space>
      </div>
      <div class="chat-area bg-dark text-white">
        <app-chat-submit (submitit)="updateText($event)"></app-chat-submit>
      </div>
    </div>
  </div>