/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import "~font-awesome/css/font-awesome.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* src/styles.css
:root {
    --primary-color: #1a1b1c;
    --secondary-color: #3e3e3e;
    --error-color: #1f1918;
    --tertiary-color: #1b1b1b;
    --text-color: #424242;
   
  }

 */
  /* Sequitur theme  */
:root {
    --primary-color: #011D26;
    --secondary-color: #3e3e3e;
    --error-color: #1f1918;
    --tertiary-color: #001116;
    --text-color: #424242;
    --text-highlight: #B68900;
    --quad-color: #073642;
   
  }


  