.porp {
    display: flex;   /* This makes .porp a flex container */
    flex-direction: column;  /* Stack children vertically */
 
    height: 100%;  
    
    overflow-wrap: break-word;
    overflow-x:block;
    word-wrap: break-word;
    position: relative; 
  
  }

  /* Targeting the mat-icon-button to override styles */
.btn-sort {
    width: 40px !important;     /* Ensuring it's square */
    height: 40px !important;
    border-radius: 10px !important; /* Remove rounded corners */
    line-height: 40px;          /* Vertically center the content */
    text-align: center;         /* Horizontally center the content */
}



.circular-image-container {
    width: 50px;  /* Adjust as needed */
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 5px;  /* Space between the image and the name */
}

.circular-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
