

<div class="d-flex justify-content-center" style="width:100%; height:100%; position:relative;">

  <div class="modal1" [ngClass]="{'modal1mobile':device,'modal1desktop':!device}" #firstModal (click)="closeFirstModal()">
  
    <div  [ngClass]="{'modal1mobilecontent':device,'modal1desktopcontent':!device}" class="bg-black text-white modal-content" (click)="$event.stopPropagation()">
     
      <div style="position:absolute; left:10px;top:10px; z-index:1002;">
        <button class="btn btn-outline-white text-white" (click)="togglePanel(0)">
          <i class="fas fa-times"></i>
        </button>
      </div>
      <div class="d-flex justify-content-center mt-3"> 
        
        <div class="drag-handle centered"></div>
      </div>

      <div *ngIf="selectedButton===5" style="position:relative; justify-content: center; display:flex; flex-direction: column; flex: auto; margin-bottom: 10px; height:70vh;">
        <app-about-nodes></app-about-nodes>
        </div>
        <div *ngIf="selectedButton===1" style="position:relative; justify-content: center; display:flex; flex-direction: column; flex: auto; margin-bottom: 10px; height:70vh;">
          <app-tournament-bulletin></app-tournament-bulletin>
        </div>
        <div *ngIf="selectedButton===2" style="position:relative; justify-content: center; display:flex; flex-direction: column; flex: auto; margin-bottom: 10px; height:70vh;">
          <app-leaderboard></app-leaderboard>
        </div>
       
        <div *ngIf="selectedButton===3" style="position:relative; justify-content: center; display:flex; flex-direction: column; flex: auto; margin-bottom: 10px; height:100%;">
          <div *ngIf="!joinState" [style.height]="!device ? '100%' : '30vh'">
          <div class="d-flex justify-content-center align-items-center bg-black text-white" style="flex-direction:column; width:100%; height:100%;">
            <div style="position:relative;">
                <h1>Choose</h1>
            </div>
            <div class="d-flex mx-3" style="position:relative; z-index:1600;">
            <button class="btn btn-white bg-white text-black mx-2" [routerLink]="['/home/create']">Host</button>
            <button class="btn btn-white bg-white text-black mx-2" (click)="joinToggle()">Join</button>
            </div>
    
        </div>
        </div>
        <div *ngIf="joinState" [style.height]="!device ? '100%' : '30vh'">
          
         
          <div class="topics d-flex mt-10" style="overflow-x:scroll">
            <div class="justify-content-center text-center" style="margin-left:60px;">
              <button class="btn btn-outline-white text-white" style="border:1px solid white; border-radius:50%;" (click)="openSecondModal(); $event.stopPropagation()">
                <i class="fa fa-plus"></i>
            </button>
            <h5>Add Topics</h5>
            </div>
              <div *ngFor="let list of savedTopics">
                <div class="bg-danger" style="margin-left:3px; margin-right:3px; padding-left:3px; padding-right:3px;border-radius:30%;">{{list}}</div>
              </div>
             </div>
          <div class="groupForm bg-black" style="border-radius: 15px;">
            <div class="popUpForm">
            <form [formGroup]="userForm" (ngSubmit)="submitForm()" style="margin: 10px;" >
          
                 
                 
                  <div class="d-flex text-white" style="justify-content: space-between; align-items: center;">
                      <div style="align-items:center;">
                  <span style="margin-right:5px;">Casual</span>
                  <div class="custom-toggle">
                      <input type="checkbox" id="customToggle" class="custom-toggle-checkbox" formControlName="isToggled">
          
                      <label for="customToggle" class="custom-toggle-label"></label>
                  </div>
                  <span style="margin-left:5px;">Debate</span>
                </div>
                </div>
          
               
              <div class="form-group mt-4 text-center">
                <button [disabled]="savedTopics.length==0" type="submit" class="btn btn-primary" >Find a group</button>
              </div>
            </form>
          </div>
          </div>
        </div>
        
        </div>
    </div>
  </div>
  
  <!-- Second Slide-In Modal -->
  <div class="slide-in-modal" #secondModal (click)="closeSecondModal()">
    <div class="modal-content1" (click)="$event.stopPropagation()">
        <app-topic-menu (closeTopics)="closeSecondModal()"></app-topic-menu>>
        
    </div>
  </div>
  
 

 

  <div #thirdModal class="matchModal" (click)="closeThirdModal()">
    <div class="modal-content2" (click)="$event.stopPropagation()">
        <app-match-maker class="bg-dark text-white" *ngIf="matchmaking.length>0"(closeClicked)="closeThirdModal()"></app-match-maker>
    </div>
  </div>  


  <div class="bg-dark text-white"  *ngIf="!topicSelection" style="width:100%; height:100%; display: flex;
  flex-direction: column;
  position:absolute;
  overflow-y:hidden;">
 
    <div *ngIf="device">
    <button class="btn btn-danger" (click)="togglePanel(3)" style="    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);opacity:.8; border:2px solid black; border-radius:50%;position:absolute;bottom:10px;right:10px; width:70px;height:70px; z-index:990;">
      <div *ngIf="!spinner">
      <i style="font-size:40px;"class="fas fa-eye"></i>
     </div>
    <div *ngIf="spinner" style="display:flex;">
    <div id="loader" class="spinner" *ngIf="spinner"></div>
    </div>
    </button>
    </div>
    <div class="center" style="position:relative; overflow-y: scroll;">

<div class="carot text-white">
<ngb-carousel [showNavigationIndicators]="false">
  <ng-template ngbSlide *ngFor="let data of dataArray">
   
    <div class="card custom-cardss bg-black text-white text-center" style="z-index:1;height: 20rem;">
      <div class="card-body" style="z-index: 20;">
        <h1 class="card-title" style="z-index:500; margin-top:20%;">{{ data.title }}</h1>
        <p class="card-text" style="z-index:500;">{{ data.description }}</p>
        <button *ngIf="data.link" [routerLink]="[data.link]" style="color:transparent;position:absolute;left:0;top:0;height:100%;width:100%;"></button>
        <button *ngIf="data.button" (click)="togglePanel(data.button)" style="z-index:0;color:transparent;position:absolute;left:0;top:0;height:100%;width:100%;"></button>
      </div>
    </div>
  </ng-template>
</ngb-carousel>
</div>

<div class="exterior bg-black" style="padding-left:10px;padding-right:10px; padding-bottom:80px;">
<div class="container bg-black mt-2 p-0">
  <!-- First Header -->
  <h2 class="text-left mb-2">Live Now</h2>
  <div class="scroll-container mb-1">
    <div *ngFor="let card of cards" class="porp" style="width: 250px;"> <!-- Width set to 250px -->
      <button  style="color:transparent;position:absolute;left:0;top:0;height:100%;width:100%; z-index:900" (click)="authorize(card)"></button>
      <!-- Top Colored Box -->
      <div class="custom-card shadow-lg bg-dark text-white" style="border:1px solid white; position: relative; height: 100px; text-wrap: wrap;"> <!-- height set to 100px -->
        
        <!-- Description styled at the top and spanning the whole card -->
        <p class="card-text mb-3 mt-3" style="margin: 0; padding: 10px;">{{card.description}}</p>
        
        <!-- Viewers Count in Upper Right -->
        <div class="viewers-count" style="position: absolute; top: 10px; right: 10px; font-size: 12px;">
          <i class="fas fa-user"></i> {{card.user.length}}
        </div>
      </div>
    
      <!-- Black Box Below -->
      <div class="bg-black text-white" style="border: 1px solid black;">
        <div class="user-info" style="width:250px; display: flex; justify-content: space-between; align-items: center; padding: 5px; box-sizing: border-box;">
          
          <!-- User Image and Name -->
          <div style="display: flex; flex-direction: column; align-items: center; margin-right: 10px;"> <!-- added margin-right -->
            <img [src]="'/assets/Steve1.jpeg'" alt="Steve" style="border-radius: 50%; width: 30px; height: 30px; object-fit: cover;">
            <h5 style="margin-top: 5px; font-size: 12px;">{{card.user[0].name}}</h5>
          </div>
          
          <!-- Topic Container -->
          <div style="display: flex; flex-wrap: wrap; max-height: 50px; overflow: hidden; align-content: flex-start;">
            <div *ngFor="let topic of card.topic" style="display: inline-block; margin-right: 5px; margin-bottom: 5px;"> <!-- adjusted margins -->
              <span style="background-color: black; border:1px solid white; padding: 3px 8px; border-radius: 10px; font-size: 11px; margin-right: 2px;">{{topic}}</span> <!-- adjusted font-size and padding -->
            </div>
          </div>
        </div>
      </div>
      </div>
    
    
    
  </div>

  <!-- Second Header -->
  <h2 class="text-left mb-2 mt-3">Top Channels We Think You'll Like</h2>
  <div class="scroll-container mb-1">
    <div *ngFor="let card of cards" class="porp" style="width: 250px;"> <!-- Width set to 250px -->
      <button  style="color:transparent;position:absolute;left:0;top:0;height:100%;width:100%; z-index:900" (click)="authorize(card)"></button>
      <!-- Top Colored Box -->
      <div class="custom-card shadow-lg bg-dark text-white" style="border:1px solid white; position: relative; height: 100px; text-wrap: wrap;"> <!-- height set to 100px -->
        
        <!-- Description styled at the top and spanning the whole card -->
        <p class="card-text mb-3 mt-3" style="margin: 0; padding: 10px;">{{card.description}}</p>
        
        <!-- Viewers Count in Upper Right -->
        <div class="viewers-count" style="position: absolute; top: 10px; right: 10px; font-size: 12px;">
          <i class="fas fa-user"></i> {{card.user.length}}
        </div>
      </div>
    
      <!-- Black Box Below -->
      <div class="bg-black text-white" style="border: 1px solid black;">
        <div class="user-info" style="width:250px; display: flex; justify-content: space-between; align-items: center; padding: 5px; box-sizing: border-box;">
          
          <!-- User Image and Name -->
          <div style="display: flex; flex-direction: column; align-items: center; margin-right: 10px;"> <!-- added margin-right -->
            <img [src]="'/assets/Steve1.jpeg'" alt="Steve" style="border-radius: 50%; width: 30px; height: 30px; object-fit: cover;">
            <h5 style="margin-top: 5px; font-size: 12px;">{{card.user[0].name}}</h5>
          </div>
          
          <!-- Topic Container -->
          <div style="display: flex; flex-wrap: wrap; max-height: 50px; overflow: hidden; align-content: flex-start;">
            <div *ngFor="let topic of card.topic" style="display: inline-block; margin-right: 5px; margin-bottom: 5px;"> <!-- adjusted margins -->
              <span style="background-color: black; border:1px solid white; padding: 3px 8px; border-radius: 10px; font-size: 11px; margin-right: 2px;">{{topic}}</span> <!-- adjusted font-size and padding -->
            </div>
          </div>
        </div>
      </div>
      </div>
  </div>

  <!-- Third Header -->

  <h2 class="text-left mb-2 mt-3">Topics We Think You'll Like</h2>

<div *ngFor="let category of objectKeys(currentTopics) let i = index" style="position:relative; display:flex; flex-direction:column;">
    <div class="d-flex text-white text-left" style="align-items:center;position:relative;height: 40px;">
   
      <button class="topicButton" style="position:absolute; width:100%;height:100%;" (click)="expand(i)">{{category}}</button>
      <i class="fas fa-chevron-right pr-5" [class.rotated]="expandedStates[i]" style="position:absolute; left:5px;padding:0;"></i>

    </div>
    <div *ngIf="expandPane[i]" class="topics scrollTopic d-flex mt-3 mb-3; width:100%;" style="overflow-x:scroll;">
      <div *ngFor="let topic of currentTopics[category]">
        <button class="btn btn-danger" style="padding: 3px 8px; border-radius: 10px; font-size: 11px; margin-right: 2px;" (click)="browse(topic.name)">{{topic.name}}</button>
      </div>
    </div>
  </div>
 
</div>

</div>

</div>
