<div class="d-flex justify-content-center" style="width:100%; height:100%; position:relative;">

  <div class="modal1" [ngClass]="{'modal1mobile':device,'modal1desktop':!device}" #firstModal (mousedown)="startDrag($event)"
    (click)="closeFirstModal()">

    <div [ngClass]="{'modal1mobilecontent':device,'modal1desktopcontent':!device}"
      class="bg-black text-white modal-content" (click)="$event.stopPropagation()">

      <div style="position:absolute; left:10px;top:10px; z-index:1002;">
        <button class="btn btn-outline-white text-white" (click)="togglePanel(0)">
          <i class="fas fa-times"></i>
        </button>
      </div>
      <div class="d-flex justify-content-center mt-3">

        <div class="drag-handle centered"></div>
      </div>

      <div *ngIf="selectedButton===5"
        style="position:relative; justify-content: center; display:flex; flex-direction: column; flex: auto; margin-bottom: 10px; height:70vh;">
        <app-about-nodes></app-about-nodes>
      </div>
      <div *ngIf="selectedButton===1"
        style="position:relative; justify-content: center; display:flex; flex-direction: column; flex: auto; margin-bottom: 10px; height:70vh;">
        <app-tournament-bulletin></app-tournament-bulletin>
      </div>
      <div *ngIf="selectedButton===2"
        style="position:relative; justify-content: center; display:flex; flex-direction: column; flex: auto; margin-bottom: 10px; height:70vh;">
        <app-leaderboard></app-leaderboard>
      </div>
    </div>
  </div>

  <div class="bg-dark text-white" style="width:100%; height:100%; display: flex;
  flex-direction: column;
  position:absolute;
  overflow-y:hidden;">

    <div class="center bg-black" style="position:relative; overflow-y: scroll;">
      <div class="bg-black mt-3" style=" height:auto;width:100%;">
        <h2 class="text-left mb-2" style="padding:0px 10px;">Trending Topics</h2>
        <div class="scroll-container d-flex align-items-center" style=" height:auto;width:100%; overflow-x: scroll;">

          <div *ngFor="let topic of currentTopics" class="d-flex flex-column align-items-center">
            <button class="btn btn-outline-white text-white"
              style="border:1px solid #0056b3; border-radius:999px;  margin-right:3px;" (click)="browse(topic.name)">
              {{topic.name}}
            </button>
          </div>
        </div>
      </div>

      <div class="carot text-white" style="border-radius:10px;">
        <ngb-carousel [showNavigationIndicators]="false">
          <ng-template ngbSlide *ngFor="let data of dataArray">
            <div class="card custom-cardss bg-black text-white text-center" style="z-index:1;height: 15rem;">
              <div class="card-body" style="z-index: 20;">
                <h1 class="card-title" style="z-index:500; margin-top:3rem">{{ data.title }}</h1>
                <p class="card-text" style="padding: 0px 60px;z-index:500;">{{ data.description }}</p>
                <button *ngIf="data.link" [routerLink]="[data.link]"
                  style="color:transparent;position:absolute;left:0;top:0;height:100%;width:100%;"></button>
                <button *ngIf="data.button" (click)="togglePanel(data.button)"
                  style="z-index:0;color:transparent;position:absolute;left:0;top:0;height:100%;width:100%;"></button>
              </div>
            </div>
          </ng-template>
        </ngb-carousel>
      </div>
      <div *ngFor="let card of cards" class="porp" 
      style="display: flex; flex-direction: column; margin-right: 10px; overflow-wrap: break-word; overflow-x: block; word-wrap: break-word; position: relative; border:1px solid rgba(122, 122, 122, .5); background: linear-gradient(to bottom, rgba(0,0,0,0.7), rgba(0,0,0,0.9)); width: 100%;">
    
      <button style="overflow:hidden; color:transparent; position:absolute; left:0; top:0; height:100%; width:100%; z-index:900" 
              (click)="authorize(card)">
      </button>
  
      <!-- Top Box -->
      <div class="custom-card shadow-lg bg-black text-white"
          style="position: relative; height: auto; text-wrap: wrap; overflow-y: hidden; border-radius:10px; padding: 10px; box-sizing: border-box; display: flex; ">
          
          <!-- User Image -->
          <img [src]="'/assets/Steve1.jpeg'" alt="Steve"
               style="border-radius: 50%; width: 30px; height: 30px; object-fit: cover; margin-right:10px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);">
          
          <!-- User Name -->
          <p style="flex-grow: 1; margin: 0; font-size: 12px; color: white;"><b>{{card.user[0].name}}</b></p>
          
          <!-- Viewers Count -->
          <div class="viewers-count" style="font-size: 12px; color: white;">
              <i class="fas fa-user"></i> {{card.user.length}}
          </div>
      </div>
  
      <!-- Description -->
      <p style="margin-left:40px; padding: 5px 10px; background-color: black; color: white; border-radius: 10px;">{{card.description}}</p>
  
      <!-- Tags Container -->
      <div class="bg-black text-white" style="border: 1px solid black; border-radius:10px; padding: 5px; margin-left: 40px;">
          <div style="display: flex; flex-wrap: wrap; align-content: flex-start;">
              <div *ngFor="let topic of card.topic" style="display: inline-block; margin-right: 5px; margin-bottom: 5px;">
                  <span style=" border:1px solid #0056b3; padding: 3px 8px; border-radius: 10px; font-size: 11px; color: white;">{{topic}}</span> <!-- Used a blue color for tags -->
              </div>
          </div>
      </div>
</div>

     
          
    </div>