<div class="d-flex justify-content-center" style="width:100%; height:100%; position:relative;">

  <div class="modal1" [ngClass]="{'modal1mobile':device,'modal1desktop':!device}" #firstModal (mousedown)="startDrag($event)"
    (click)="closeFirstModal()">

    <div [ngClass]="{'modal1mobilecontent':device,'modal1desktopcontent':!device}"
      class=" text-white modal-content" style=" background-color:var(--primary-color);"(click)="$event.stopPropagation()">

      <div style="background-color:var(--primary-color);position:absolute; left:10px;top:10px; z-index:1002;">
        <button class="btn btn-outline-white text-white" (click)="togglePanel(0)">
          <i class="fas fa-times"></i>
        </button>
      </div>
      <div class="d-flex justify-content-center mt-3">

        <div class="drag-handle centered"></div>
      </div>

      <div *ngIf="selectedButton===5"
        style="position:relative; justify-content: center; display:flex; flex-direction: column; flex: auto; margin-bottom: 10px; height:70vh;">
        <app-about-nodes></app-about-nodes>
      </div>
      <div *ngIf="selectedButton===1"
        style="position:relative; justify-content: center; display:flex; flex-direction: column; flex: auto; margin-bottom: 10px; height:70vh;">
        <app-tournament-bulletin></app-tournament-bulletin>
      </div>
      <div *ngIf="selectedButton===2"
        style="position:relative; justify-content: center; display:flex; flex-direction: column; flex: auto; margin-bottom: 10px; height:70vh;">
        <app-leaderboard></app-leaderboard>
      </div>
    </div>
  </div>

  <div class=" text-white" style="background-color:var(--primary-color); width:100%; height:100%; display: flex;
  flex-direction: column;
  position:absolute;
  overflow-y:hidden;">

    <div class="center" style="background-color:var(--primary-color);position:relative; overflow-y: scroll;">
      <div class=" mt-3" style="background-color:var(--primary-color); height:auto;width:100%;">
        <h2 class="text-left mb-2" style="padding:0px 10px;">Trending Topics</h2>
        <div class="scroll-container d-flex align-items-center" style=" height:auto;width:100%; overflow-x: scroll;">

          <div *ngFor="let topic of currentTopics" class="d-flex flex-column align-items-center">
            <button class="btn btn-outline-white text-white"
              style="border:1px solid white; background-color:var(--secondary-color);border-radius:999px; margin-left:3px; " (click)="browse(topic.name)">
              {{topic.name}}
            </button>
          </div>
        </div>
      </div>
<!--
      <div class="carot text-white" style="border-radius:10px;">
        <ngb-carousel [showNavigationIndicators]="false">
          <ng-template ngbSlide *ngFor="let data of dataArray">
            <div class="card custom-cardss text-white text-center" style="background-color:var(--primary-color);z-index:1;height: 15rem;">
              <div class="card-body" style="z-index: 20;">
                <h1 class="card-title" style="z-index:500; margin-top:3rem">{{ data.title }}</h1>
                <p class="card-text" style="padding: 0px 60px;z-index:500;">{{ data.description }}</p>
                <button *ngIf="data.link" [routerLink]="[data.link]"
                  style="color:transparent;position:absolute;left:0;top:0;height:100%;width:100%;"></button>
                <button *ngIf="data.button" (click)="togglePanel(data.button)"
                  style="z-index:0;color:transparent;position:absolute;left:0;top:0;height:100%;width:100%;"></button>
              </div>
            </div>
          </ng-template>
        </ngb-carousel>
      </div>

      -->
      <div class=" mt-3" style="background-color:var(--primary-color); height:auto;width:100%;">
        <h2 class="text-left mb-2" style="padding:0px 10px;">New Nodes</h2>
        <div class="scroll-container d-flex align-items-center" style=" height:auto;width:100%; overflow-x: scroll;">

         
        </div>
      </div>

      <div *ngFor="let card of cards" class="porp" 
      style="background-color:var(--primary-color);display: flex; flex-direction: column; overflow-wrap: break-word; overflow-x: block; word-wrap: break-word; position: relative; border-top:1px solid rgba(122, 122, 122, .5);  width: 100%;">
    
      <button style="overflow:hidden; color:transparent; position:absolute; left:0; top:0; height:100%; width:100%; z-index:900" 
              (click)="authorize(card)">
      </button>
  
      <!-- Top Box -->
      <div class="custom-card text-white"
          style="background-color:var(--primary-color);position: relative; height: auto; text-wrap: wrap; overflow-y: hidden; border-radius:10px; padding:0 10px; padding-top:10px; box-sizing: border-box; display: flex; ">
          
          <!-- User Image -->
          <img [src]="'/assets/Steve1.jpeg'" alt="Steve"
               style="border-radius: 50%; width: 30px; height: 30px; object-fit: cover; margin-right:10px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);">
          
          <!-- User Name -->
          <p style="flex-grow: 1; margin: 0;padding:0; font-size: 12px; color: var(--text-highlight);">{{card.user[0].name}}</p>
          
          <!-- Viewers Count -->
          <div class="viewers-count" style="font-size: 12px; color: white;">
              <i class="fas fa-user"></i> {{card.user.length}}
          </div>
      </div>
  
      <!-- Description -->
      <p style="margin-left:40px; margin-bottom:5px; padding: 0px 10px; color: white; border-radius: 10px;">{{card.description}}</p>
  
      <!-- Tags Container -->
      <div class=" text-white" style="background-color:var(--primary-color); border-radius:10px; padding:1px 5px; margin-left: 40px;">
          <div style="display: flex; flex-wrap: wrap; align-content: flex-start;">
              <div *ngFor="let topic of card.topic" style="display: inline-block; margin-right: 5px; margin-bottom: 5px;">
                  <span style=" border:1px solid var(--text-color); padding: 3px 8px; border-radius: 10px; font-size: 11px; background-color:var(--primary-color);color: rgb(181, 181, 181);border:1px solid rgb(181, 181, 181); ">{{topic}}</span> <!-- Used a blue color for tags -->
              </div>
          </div>
      </div>
</div>

     
          
    </div>