
<div class="container">
 
    <div #visNetwork id="mynetwork"  class="nodes" style="height:100%; width:100%"> 
      
    </div>
    <div *ngIf="selectedNodeIndex" class="buttons" style="opacity:.7">
      <div id="likeButton" class="floating-buttons small-button" style="position:absolute; bottom:10px; left:10px;">
        <button mat-fab class="thumb-up" (click)="thumbup()" style="background-color:green;">
          <mat-icon class="small-icon">thumb_up</mat-icon>
        </button>
    </div>
    
     <div id="dislikeButton" class="floating-buttons small-button" style="position:absolute;bottom:10px;right:10px;">
      <button mat-fab class="thumb-down" (click)="thumbdown()" style="background-color:red;" >
        <mat-icon>thumb_down</mat-icon>
      </button>
       </div> 
      </div>
    </div>
   
    
    